.Cart {
    transition-duration: 0.7s;
}

.Cart:active {
    transform: translateY(20px);
}

.submitBorder {
    border: 3px solid #d0fc41;
    /* some kind of blue border */
    /* other CSS styles */
    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #d0fc41;
    -moz-box-shadow: 0px 0px 4px #d0fc41;
    box-shadow: 0px 0px 4px #d0fc41;
}

.submitBorder:active {
    transform: translateY(4px);
}

